* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(../img/Watercolor.jpg);
    font-family: Helvetica;
    font-size: 15px;
  }

@media (min-width: 400px) {
    body {
    font-size: 20px;
    }
}
@media (min-width: 800px) {
  body {
  font-size: 25px;
  }
}
header {
    height: 110vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

  .menu {
    font-family: 'Source Code Pro', monospace;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu li{
    list-style: square;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu a {
    padding: 25px;
    display: block;
  }

  a {
    color: purple;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    background: none;
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
  }

  .site-title {
    color: #924a62;
    font-family: 'Permanent Marker', cursive;
    margin: 30px;
  }
  .site-subtitle {
    color: #553e6a;
    font-family: 'Shadows Into Light', cursive;
    line-height: 2.4em;
  }
  .portif {
    font-family: 'Shadows Into Light', cursive;
    color: #924a62;
  }
  .site-testing {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    color: #9c6a8b;
    margin: 55px;
    border: 15px ridge palevioletred;
    padding: 10px;
    height: 140px;
    width: 300px;
    box-shadow:  0 0 50px 30px #664f7d;
    box-sizing: border-box;
  }
 
  .portifo {
    padding: 1em;

  }

  .portf {
    display: grid;
    gap: 2em;
    justify-content: space-around;
  }

  @media (min-width:600px) {
    .portf {
      grid-template-columns: 400px 400px;
      justify-content: space-around;
    }
  }

  @media (min-width:1000px) {
      .portf {
        grid-template-columns: 400px 400px 400px;
        justify-content: space-around;
      }
  }
  
  .portf figure {
    text-align: center;
  }

  .portf figcaption {
    margin: 15px;
    font-family: 'Permanent Marker', cursive;
    color: #553e6a;
  }

  .imgportf {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 15%;
    object-position: top;
  }

  .dice {
    padding: 1em;
    height: 1vh;
  }
  .daice {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-around;
    height: 90vh;
    align-content: space-evenly;
  }

  .daices {
    height: 175px;
    width: 175px;
    border-radius: 40%;
  }
  
  .daice figcaption {
    margin: 2px;
    font-family: fantasy;
    color: aqua;
  }

  .daice figure {
    text-align: center;
  }