body {
    background-image: url("https://wallpapertag.com/wallpaper/full/e/4/f/189131-widescreen-aesthetic-backgrounds-1920x1080-720p.jpg");
    background-size: 100vw 100vh;
    font-family: Helvetica;
    height: 90vh;
    
  }
  
  .menu {
    font-family: Ubuntu;
  }
  
  .menu li{
    list-style: square;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  a {
    color: purple;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    background: none;
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
    color: lightgray;
    font-style: italic;
  }